*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  /* margin:30px;*/
}

/* Beginning of banner headings */
h1{
  margin-top: 0px;
  text-align: center;
  padding-top: 20px;
}

h2{
  text-align: center;
  padding-top: 20px;
}
/* End of banner headings */

.container{
  width: 100%;
  background-image: url("../img/pexels.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.close{
  margin: 0px;
  /*padding-top: 50px*/
  padding: 30px;
  height: auto;
  text-align:center;
}

.banner{
  width: 100%;
  height: 650px;
  background-image: url("../img/pexels2.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.main{
  width: 100%;
}

nav {
  text-align: center;
  letter-spacing: 2px;
  padding-top: 450px;
}

nav li{
  display: inline;
  letter-spacing: 2px;
  padding: 5px;
}

/*.main {
  padding-bottom: 50px;
}*/

.float_1{
  float:left;
}

.float_2{
  float: left;
  padding-left: 150px;
}

.float_3{
  float:left;
}

.float_4{
  float: left;
  padding-left: 300px;
}

/* This is the start of the lightgrey boxes */
.color_box_1{
  height: auto;
  background-color: lightgrey;
  margin: 0;
  padding: 50px;
}

.color_box_2{
  height: 250px;
  background-color: lightgrey;
  margin: 0;
  padding: 60px;
}

.color_box_3{
  height: auto;
  background-color: lightgrey;
  margin: 0;
  padding: 20px;
  position: relative;
  transition: all 500ms;
}
/* This is the end of the lightgrey boxes */

.Work{
  padding-left: 50px;
}


.list1{
  margin-left: 22px;
}

.list2{
  margin-left: 22px;
}

.intro{
  padding: 50px;
  height: auto;
  margin: 0;
  padding: 50px;
  text-align: center;
}

.empty_box_1{
  height: auto;
  margin: 0;
  padding: 50px;
}

.empty_box_2{
  height: 200px;
  margin: 0;
  padding: 60px;
}

/* This is the start of the footer icons */
.iconbar{
  position: relative;
  display: table;
  margin: 0 auto;
}

.iconbar:hover .icon{
  opacity: 1.0;
  transform: translateY(-30px)
}


/* This is the end of the footer icons */

.iconbar > img{
  display: inline-table;
  width: 50px;
  height: 50px;
  padding: 100px;
  opacity: 0.0;
  transition: all 500ms;
  transform: translateY(20px);
}

/*responsive design*/
@media only screen and (max-width: 1120px){
  .banner{
    width: 100%;
    height: 400px;
    background-image: url("../img/pexels2.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }

  nav {
    text-align: center;
    letter-spacing: 2px;
    padding-top: 200px;
  }

  nav li{
    display: inline;
    letter-spacing: 2px;
    padding: 5px;
  }

  .icon{
    display: inline-table;
    width: 50px;
    height: 50px;
    padding: 20px;
  }

}

@media only screen and (max-width: 480px) {
  .icon{
    display: inline-table;
    width: 50px;
    height: 50px;
    padding: 5%;
  }
}

@media only screen and (max-width: 1100px){
  .color_box_2{
    height: 350px;
    background-color: lightgrey;
    margin: 0;
    padding: 100px;
}
}